<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <!-- This makes Nuget to place the packages at ./Assets/Plugins -->
        <add key="repositoryPath" value="./Assets/Plugins" />
    </config>
    <packageSources>
        <clear /> <!-- Delete packageSources from other nuget.configs -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>